/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* root */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --darkgreen-clr-transp: #35bced80;
  --darkgreen-clr: rgb(174, 217, 254);
  --primary-clr: #35bced;
  --lightgreen-clr: #000204;
  --darkGrey: rgb(255, 255, 255);
  --p-grey: rgb(94, 94, 94);
  --lightGrey: rgb(248, 246, 246);
  --red: #b30048;
  --letterSpacing: 2px;
  --transition: all 0.5s linear;
  --fontFamily: "Lobster", cursive;
  --secondFont: "Lunasima", sans-serif;
  --title-font: "Outfit", sans-serif;
}
.btn {
  background-color: var(--red);
  color: rgb(11, 11, 11);
  padding: 0.725rem 1.75rem;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.5);
  border-color: transparent;
  transition: var(--transition);
  margin-top: 1.25rem;
  letter-spacing: var(--letterSpacing);
  text-transform: uppercase;
}

/* .btn:hover {
  background-color: var(--lightgreen-clr);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.7);
  color: var(--darkGrey);
  border: 2px solid white;
} */

img {
  width: 50%;
}

/* 
===============
Navbar
===============
*/

.navbar {
  background: var(--lightgreen-clr);
  width: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  height: 5rem;
  position: fixed;
  z-index: 3;
}

.navbar-heading {
  font-size: 2rem;
  color: var(--darkGrey);
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
}

@media screen and (min-width: 776px) {
  .navbar i {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    height: 5rem;

    align-items: center;
    margin: 0 auto;
    align-items: center;
  }
  .navbar ul {
    display: flex;
  }
  /* .navbar {
    display: inline-block;
    margin-right: 2rem;
    transition: var(--transition);
  } */
  .navbar ul {
    list-style-type: none;
    display: flex;
  }
  .navbar ul li {
    margin-right: 1rem;
  }
}

.navbar ul li a {
  font-size: 1.25rem;
  text-decoration: none;

  letter-spacing: var(--letterSpacing);
  color: var(--primary-clr);
  font-family: var(--secondFont);
}
.navbar ul li {
  transition: all 0.3s linear;
}
.navbar ul li:hover {
  transform: translateY(-2px);
  box-shadow: 0px 1px 0px var(--red);
}
.navbar ul li a:hover {
  color: var(--red);
}

.nav-container i {
  font-size: 2rem;
  color: var(--primary-clr);
  cursor: pointer;
}

/* BARS */

.fa-bars {
  animation-name: bars;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bars {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 776px) {
  /* .navbar ul {
    display: none;
  } */
  .navbar-list {
    height: 0;
    overflow: hidden;
  }
  .nav-container {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    max-width: 1170px;
    align-items: center;
    margin: 0 auto;
    align-items: center;
  }
  .toggle {
    height: auto;
    background-color: var(--lightgreen-clr);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .toggle li {
    transition: all 0.5s linear;
    text-decoration: none;
    color: var(--primary-clr);
    padding: 1.5rem;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    box-shadow: 1px 2px 5px var(--red);
  }
  .toggle {
    display: block;
  }
}

/* 
===============
Hero
===============
*/

@keyframes heroLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes heroRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-btn {
  background-color: var(--primary-clr);
  display: inline-block;
  text-decoration: none;
  padding: 0.725rem 1.75rem;
}
.hero-btn:hover {
  background-color: var(--red);
  color: white;
}
.hero-left {
  animation-name: heroLeft;
  animation-duration: 2s;
}
.hero-right {
  animation-name: heroRight;
  animation-duration: 2s;
}

@media screen and (min-width: 370px) {
  .hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
  }
  .hero-left {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .hero-title {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    color: var(--darkGrey);
  }
  .hero-text {
    font-size: 1.5rem;
    font-family: var(--secondFont);
    color: var(--p-grey);
    margin-bottom: 1.5rem;
    letter-spacing: var(--letterSpacing);
  }

  .hero-right {
    position: relative;
    z-index: 1;
  }

  .hero-right::before {
    content: "";
    border: 5px solid var(--primary-clr);
    border-radius: 0.75rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 20px;
    z-index: -1;
  }
}
@media screen and (max-width: 500px) {
  .hero-title {
    display: none;
  }

  .hero-container {
    display: flex; /* Verwende flex für das Container-Layout */
    flex-direction: column-reverse; /* Ändere die Ausrichtung auf Spalten */
    align-items: center; /* Zentriere die Elemente horizontal */
  }

  .hero-left,
  .hero-right {
    width: 100%; /* Nimm die volle Breite */
  }
  .hero-right {
    transform: scale(0.7);
    margin-bottom: -2rem;
  }
  .hero-right::before {
    display: none;
  }
}

@media screen and (max-width: 976px) {
  .hero-img {
    /* display: none; */
  }
  .hero-right {
    /* display: none; */
  }
  .hero-underline {
    margin: 0 auto;
  }
  .hero-container {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 100vh;
  }
  .hero-left h1 {
    font-size: 3.5rem;
    letter-spacing: var(--letterSpacing);
    color: var(--darkGrey);
  }
  .hero-text {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: var(--darkGrey);
    letter-spacing: var(--letterSpacing);
  }
}

.underline {
  width: 7rem;
  height: 4px;
  background: var(--red);
  /* margin: 0 auto; */
  margin-bottom: 0.25rem;
}

.hero-left h1 {
  font-family: var(--title-font);
  letter-spacing: 5px;
}

.hero-img {
  width: 18rem;
  border-radius: 0.75rem;
}

.hero-container {
  width: 100%;
  height: 100%;
}

.hero {
  background-color: var(--lightgreen-clr);
  height: calc(100vh + 0rem);
}

/* 
===============
Über mich
===============
*/

.about {
  background-image: linear-gradient(
    to top,
    var(--darkgreen-clr-transp) 0%,
    var(--lightgreen-clr) 30%,
    var(--lightgreen-clr) 70%,
    var(--darkgreen-clr-transp) 100%
  );
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10rem;
}
body {
  background: var(--lightgreen-clr);
}
.about-left {
  height: 20rem;
  width: auto;
}
.about-left img {
  height: 20rem;
  width: auto;
}
.about-container {
  display: flex;
  justify-content: space-around;
}
.about-title {
  font-size: 2rem;
  color: var(--darkGrey);
  letter-spacing: 5px;
  margin-bottom: 3rem;
}

.about-text {
  color: var(--lightGrey);
  letter-spacing: 1px;
  line-height: 1.25rem;
  font-family: var(--secondFont);
  font-size: 0.8rem;
  max-width: 30rem;
}

.about-left {
  margin-left: 4rem;
}
.about-right {
  margin-right: 2rem;
}

.about img {
  border-radius: 0.75rem;
}

@media screen and (max-width: 976px) {
  .about img {
    display: none;
  }
  .about-left::before {
    display: none;
  }
  .about-underline {
    margin: 0 auto;
  }
  .about-text {
    max-width: 32rem;
    margin-left: 1.5rem;
    margin-right: 2rem;
  }
  .about h1 {
    letter-spacing: 6px;
    margin-bottom: 2rem;
    color: var(--darkGrey);
  }
  .about-text {
    letter-spacing: 1px;
    /* color: var(--p-grey); */
  }
}

@media screen and (max-width: 476px) {
  .about-text {
    width: 18rem;
  }
  .about-right {
    height: 10rem;
    margin-right: 0rem;
  }
}

.about-right h1 {
  font-family: var(--title-font);
  letter-spacing: 5px;
}

.about-left {
  position: relative;
  z-index: 1;
}

.about-left::before {
  content: "";
  border: 5px solid var(--primary-clr);
  border-radius: 0.75rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  left: -20px;
  z-index: -1;
}

/* 
===============
Meine Hobbys
===============
*/

.hobby {
  height: auto;
  background-color: var(--lightgreen-clr);
}

.hobby-container {
  display: flex;
  justify-content: center;
}

.hobby-title {
  padding: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  font-size: 2rem;
  font-family: var(--title-font);
  letter-spacing: 5px;
  color: var(--lightGrey);
}
.hobby-underline {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.hobby-text {
  max-width: 18rem;
  font-family: var(--secondFont);
  font-size: 0.8rem;
}
.hobby-icon {
  background-color: var(--lightgreen-clr);
  color: var(--primary-clr);
  padding: 0.7rem 0.9rem;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1.25rem;
  border: 0.5px solid var(--darkgreen-clr);
  box-shadow: 0px 2px 4px rgba(222, 222, 222, 0.7);
  height: 2.5rem;
}
.hobby-text {
  letter-spacing: 1px;
  color: var(--lightGrey);
}
.hobby-title-small {
  color: var(--red);
  letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 876px) {
  .hobby-container {
    display: flex;
    flex-wrap: wrap;
  }
  .einzelnes-hobby {
    display: flex;
    margin: 2rem;
    margin-right: 1.5rem;
  }
  .hobby {
    height: 30rem;
  }
}

@media screen and (min-width: 1300px) {
  .hobby {
    height: 18rem;
  }
}

@media screen and (max-width: 876px) {
  .hobby-container {
    display: block;
    text-align: center;
  }
  .hobby-text {
    margin: 2rem auto;
    margin-top: 0.75rem;
  }
  .hobby-icon {
    margin: 2rem auto;
  }
  .hobby {
    height: 58rem;
  }
}

@media screen and (max-width: 476px) {
  .hobby {
    height: 50rem;
  }
}

/* 
===============
Trennung
===============
*/
.trennung {
  height: 15px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    var(--primary-clr) 48%,
    var(--primary-clr) 52%,
    rgba(0, 0, 0, 1) 100%
  );
}
/* 
===============
Projekte
===============
*/
@media screen and (max-width: 476px) {
  .project-container {
    scale: 0.75;
  }
}
.project-container {
  position: relative;
  /* border: 1px solid red; */
  width: 23rem;
  margin: 0 auto;
  height: 245px;
  margin-top: 2rem;
  margin-bottom: 4rem;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
}
.project-container:hover {
  transform: scale(1.02);
  /* background: linear-gradient(rgba(121, 100, 75,0.4),rgba(121, 100, 75,0.4)); */
}

.card {
  background: rgb(247, 247, 247);
  width: 23rem;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  height: 588px;
  border-radius: 0.3rem;
  /* margin-top: 4rem; */
  margin-bottom: 4rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  cursor: pointer;
  /* outline: 2px solid white;
  outline-offset: -10px; */
}
.overlay .card-title {
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  color: #fff;
  /* padding: 1rem; */
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  background: linear-gradient(
    to top,
    rgba(75, 110, 121, 0.9) 90%,
    rgba(38, 123, 134, 0.4)
  );
  transition: all 0.3s linear;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.card:hover .overlay {
  opacity: 1;
  transform: translateY(0);

  /* outline: 2px solid #fff;  */
  /* outline-offset: -10px; */
}

.button-container {
  display: flex;
  justify-content: space-between;
  transform: translateY(11rem);
  max-width: 37rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin: 0 auto;
}
.prev-btn i {
  padding: 0.5rem;
  background: black;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-clr);
}
.next-btn i {
  padding: 0.5rem;
  background: black;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-clr);
}
.all {
  font-family: var(--secondFont);
  letter-spacing: 0.07rem;
  background-color: var(--primary-clr);
  text-align: center;
  width: 12rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 3rem;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.5);
  /* border: 2px solid var(--darkgreen-clr); */
  transition: all 0.3s linear;
}
@media screen and (max-width: 476px) {
  .all {
    scale: 0.8;
    margin-top: -1rem;
  }
}
.all a {
  color: rgb(55, 55, 55);
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  transition: all 0.3s linear;
}
.all:hover {
  background-color: var(--red);
}
.all a:hover {
  color: white;
}

.card h3 {
  display: inline-block;
  background-color: var(--primary-clr);
  /* transform: translateX(9rem); */
  /* transform: translateY(-2.7rem); */
  padding: 0.25rem 0.5rem;
  color: var(--darkgreen-clr);
  margin-top: 1rem;
  font-size: 1rem;
}
.card img {
  width: 100%;
  height: 246px;
  /* outline: 2px solid white;
  outline-offset: -5px; */
}
.card-underline {
  margin: 0 auto;
  margin-top: 0.75rem;
}

.card-info p {
  color: white;
  max-width: 17rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--secondFont);
}

a {
  text-decoration: none;
}
.card-btn {
  font-weight: 800;
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 3rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  background-color: var(--primary-clr);
  color: var(--darkgreen-clr);
}

/* 
===============
Mein Werdegang
===============
*/

.trennung2 {
  height: 25px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--lightgreen-clr) 0%,
    /* var(--darkgreen-clr-transp) 40%, */ var(--darkgreen-clr-transp) 50%,
    var(--darkgreen-clr-transp) 100%
  );
}
.trennung3 {
  height: 25px;
  width: 100%;
  background-image: linear-gradient(
    to top,
    var(--lightgreen-clr) 0%,
    /* var(--darkgreen-clr-transp) 40%, */ var(--darkgreen-clr-transp) 50%,
    var(--darkgreen-clr-transp) 100%
  );
}

.werdegang {
  background-image: linear-gradient(
    to top,
    var(--darkgreen-clr-transp) 0%,
    var(--lightgreen-clr) 10%,
    var(--lightgreen-clr) 90%,
    var(--darkgreen-clr-transp) 100%
  );
  padding-bottom: 5rem;
}

.werdegang-underline {
  margin: 0 auto;
  margin-bottom: 4rem;
}

.werdegang-title {
  color: var(--darkGrey);
}

.werdegang-container {
  /* margin-bottom: 4rem; */
  /* padding-top: 3rem; */
  max-width: 1300px;
  margin: 0 auto;
}
.single-werdegang {
  max-width: 70vw;
  margin: 0 auto;
  border-bottom: 3px dotted var(--primary-clr);
  padding-bottom: 3rem;
  border-radius: 2rem;
}
.single-werdegang.right {
  border-right: 3px dotted var(--primary-clr);
  /* border-bottom: 3px solid var(--darkgreen-clr); */
  border-bottom-left-radius: 0;
  transform: translateX(25px);
}

.single-werdegang.left {
  border-left: 3px dotted var(--primary-clr);
  border-bottom-right-radius: 0;
}

.single-werdegang p {
  max-width: 40rem;
  letter-spacing: 1px;
  color: var(--darkgreen-clr);
  margin-left: 14rem;
  margin-right: 2rem;
  font-family: var(--secondFont);
  font-size: 0.8rem;
  line-height: 20px;
}

.single-werdegang h2 {
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  color: white;
  padding-top: 2rem;
}

.single-werdegang h3 {
  color: var(--red);
  margin-bottom: 1rem;
  letter-spacing: 2px;
  margin-left: 14rem;
  margin-right: 2rem;
}

@media screen and (max-width: 676px) {
  .single-werdegang h3 {
    margin-left: 3rem;
  }
  .single-werdegang p {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 976px) {
  .single-werdegang h3 {
    margin-left: 5rem;
  }
  .single-werdegang p {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 476px) {
  .single-werdegang h3 {
    margin-left: 1.5rem;
  }
  .single-werdegang p {
    margin-left: 1.5rem;
  }
  .single-werdegang.right {
    border-style: none;
  }

  .single-werdegang.left {
    border-style: none;
  }
  .single-werdegang h3 {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    margin-left: 14rem;
    margin-right: 2rem;
    margin: 0 auto;
  }
  .single-werdegang p {
    margin: 1rem auto;
  }
  .single-werdegang h2 {
    padding-top: 0;
  }
}

/* 
===============
Meine Kenntnisse
===============
*/
.kenntnisse-container {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 1170px;
  margin: 0 auto;
}
.kenntnisse-underline {
  margin: 0 auto;
}
.kenntnisse-liste {
  padding: 2rem;
  margin-left: 3rem;
}
.kenntnisse-items {
  font-weight: 700;
  color: var(--primary-clr);
  padding-top: 0.5rem;
  text-decoration: none;
}
.lebenslauf-btn {
  font-family: var(--secondFont);
  letter-spacing: 0.07rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  background: var(--red);
  width: 14.5rem;
  color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}

.lebenslauf-btn:hover {
  background-color: var(--darkgreen-clr);
}

@media screen and (max-width: 476px) {
  .kenntnisse-liste {
    margin-left: 1rem;
  }
  .kenntnisse-items {
    font-size: 0.8rem;
  }
  .lebenslauf-btn {
    scale: 0.8;
  }
}
/* 
===============
Kontaktier mich
===============
*/

.kontakt {
  height: 6rem;
  background-color: var(--lightgreen-clr);
}

.kontakt-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.kontakt-heading h1 {
  font-family: var(--secondFont);
  padding-bottom: 0.5rem;
  letter-spacing: 2px;
  color: var(--darkGrey);
}

.kontakt-heading p {
  color: var(--p-grey);
  letter-spacing: 1px;
}

.e-mail-container h1 {
  font-family: var(--fontFamily);
  letter-spacing: 0.3rem;
  color: var(--primary-clr);
}

@media screen and (max-width: 676px) {
  .kontakt-container {
    display: block;
    text-align: center;
  }
  .e-mail-container h1 {
    padding-top: 1rem;
  }
  .kontakt {
    height: 8rem;
  }
  .kontakt-heading h1 {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 476px) {
  .kontakt-heading h1 {
    font-size: 1rem;
  }

  .kontakt-heading p {
    font-size: 0.75rem;
  }

  .e-mail-container h1 {
    font-size: 1rem;
  }
  .kontakt {
    height: 6.5rem;
  }
}

/* 
===============
Footer
===============
*/

.footer {
  height: 4rem;
  background-color: rgb(58, 58, 58);
}

.footer-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container h3 {
  font-family: var(--fontFamily);
  color: white;
  letter-spacing: 2px;
}

@media screen and (max-width: 476px) {
  .footer-container h3 {
    font-size: 0.6rem;
  }
  .footer {
    height: 4rem;
  }
}

/* 
===============
Meine Projekte (page)
===============
*/
.projekte-navbar {
  position: fixed;
}

.projekte-title {
  padding-top: 6rem;
}

.projekte-card h3 {
  display: inline-block;
  background-color: var(--primary-clr);
  /* transform: translateX(9rem); */
  transform: translateY(-2.7rem);
  padding: 0.5rem 0.7rem;
  color: black;
}
.projekte-card h2 {
  color: black;
}

.projekte-card a {
  color: black;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}
.projekte-card a:hover {
  background-color: var(--red);
}
.projekte-card img {
  width: 100%;
  height: 245px;
  /* outline: 2px solid white;
  outline-offset: -5px; */
}
.card-underline {
  margin: 0 auto;
  margin-top: 0.75rem;
}
.card-title {
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  color: var(--darkGrey);
  /* padding: 1rem; */
  /* margin-top: 1rem; */
  letter-spacing: 3px;
}

.projekte-card img {
  margin-bottom: 1.5rem;
}

.card-info p {
  color: var(--p-grey);
  max-width: 19rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--secondFont);
}
.projekte-card {
  background: rgb(247, 247, 247);
  width: 23rem;
  text-align: center;
  margin: 0 auto;

  height: 588px;
  border-radius: 0.3rem;
  /* margin-top: 4rem; */
  /* margin-bottom: 4rem; */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  transform: scale(0.8);
}

@media screen and (min-width: 720px) {
  .projekte-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 0.5rem; */
  }
}
@media screen and (min-width: 1090px) {
  .projekte-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 0.5rem; */
  }
}
@media screen and (min-width: 1440px) {
  .projekte-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 0.5rem; */
  }
}

.github-btn {
  display: block;
  text-align: center;
  max-width: 15rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.github-btn:hover {
  background-color: var(--red);
  color: black;
}
