* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  background-color: rgba(0, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
}
.jokes-container {
  height: 100%;
  width: 100%;
  display: grid;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  align-items: center;
}
.jokes-content {
  border: 2px solid grey;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 2rem;
}
.jokes-btn {
  padding: 0.5rem 2rem;
  background: transparent;
  border: 3px solid rgb(10, 141, 141);
  color: rgb(3, 109, 109);
  margin-bottom: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
}
.jokes-btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.jokes-content p {
  letter-spacing: 2px;
  line-height: 2rem;
  font-size: 1.25rem;
}

@media  screen and (max-width:400px) {
  .jokes-content{
    transform: scale(0.8);
  }
}
